section.feedback {
  position: relative;
  z-index: 3;

  padding: 140px 0 120px;
  background: $rust;
  color: $white;

  .headline {
    margin: 0 0 60px;
  }

  img.feedback-iphone {
    width: 120%; /* overflow grid on purpose */

    @include transition(transform, 0.4s, ease-in);
    @include translate-x(1000px);

    &.visible {
      @include translate-x(0);
    }
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  section.feedback {
    img.feedback-iphone {
      width: 90%;

      @include translate-x(0);
    }
  }
}