footer {
  position: relative;
  z-index: 3;
  padding: $full-space 0;

  background: $light-grey;
  color: $rust;

  .connect {
    margin-bottom: 30px;
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  footer {
    .connect {
      display: none;
    }
  }
}