footer {
  position: relative;
  @include translate3d(0, 0, 0); /* to fix issue with position: fixed and z-index on mobile safari */
  z-index: 3;
  padding: $full-space 0;

  background: $light-grey;
  color: $rust;

  .connect {
    margin-bottom: 30px;
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  footer {
    .connect {
      display: none;
    }
  }
}