section.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;

  color: $white;
  background-color: $rust;
  background: url(../images/hero_bg.png) no-repeat center center fixed;
  @include background-size(cover);

  .header {
    padding: 50px 0;

    text-align: left;

    .logo-container {
      display: inline-block;
      float: left;
      width: 100px;

      text-align: center;

      .logo {
        width: 100px;
        height: 100px;
      }

      .name {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .tagline {
    margin-bottom: 100px;
  }

  .front-iphone, .back-iphone {
    position: fixed;
    bottom: -45%;
  }

  .front-iphone {
    z-index: 2;
    width: 375px;
    left: 40%;
  }

  .back-iphone {
    z-index: 1;
    width: 300px;
    left: 27%;
  }
}