section.team {
  position: relative;
  z-index: 3;
  padding: 60px 0 100px;

  background: $rust;
  color: $white;

  .headline {
    margin-bottom: 80px;
  }

  .team-members {
    width: 400px; /* dont break 3x3 grid on mobile */

    @include gridle_state(md) {
      margin-bottom: 20px;
    }

    .member {
      width: 120px;
      height: 120px;
      margin: 0 5px 5px 0;

      background: $grey;
      color: $white;

      cursor: pointer;

      @include transition(all, 0.2s, ease-in-out);

      &.focused, &:hover, &:active {
        background: $white;
        color: $rust;
      }
    }
  }

  .member-name {
    margin-bottom: $full-space;
  }
}