section.team {
  position: relative;
  z-index: 3;
  padding: 60px 0 100px;

  background: $rust;
  color: $white;

  .headline {
    margin-bottom: 80px;
  }

  .team-members {
    .member {
      width: 120px;
      height: 120px;
      margin: 0 5px 5px 0;

      background: $grey;
      color: $white;

      cursor: pointer;

      @include transition(all, 0.2s, ease-in-out);

      &.focused, &:hover, &:active {
        background: $white;
        color: $rust;
      }
    }
  }

  .member-name {
    margin-bottom: $full-space;
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  section.team {
    .team-members {
      margin-bottom: 20px;

      .member {
        width: 75px;
        height: 75px;
      }
    }
  }
}