section.understand {
  position: relative;
  z-index: 3;
  padding: 140px 0 80px;

  background: $white;
  color: $rust;

  .headline {
    margin-bottom: 60px;
  }

  .section-body {
    margin-bottom: 100px;

    img.understand-imac {
      width: 140%; /* overflow grid on purpose */
      margin-left: -17%;

      @include transform-transition(0s, ease-in);
      @include translate-x(-1000px);

      &.visible {
        @include translate-x(0);
      }
    }

    .section-body-text {
      padding-left: $full-space;
    }
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  section.understand {
    padding: 100px 0;

    .section-body {
      margin-bottom: 60px;

      img.understand-imac {
        width: 100%;
        margin: 0 0 60px;

        @include translate-x(0);
      }

      .section-body-text {
        padding-left: 10px;
      }
    }
  }
}