section.understand {
  position: relative;
  z-index: 3;
  padding: 140px 0 80px;

  background: $white;
  color: $rust;

  .headline {
    margin-bottom: 60px;
  }

  .section-body {
    margin-bottom: 100px;
  }

  .understand-imac {
    width: 140%;
    margin-left: -17%;

    @include transition(transform, 0.4s, ease-in);
    @include translate-x(-1000px);

    &.visible {
      @include translate-x(0);
    }
  }
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  section.understand {
    img.understand-imac {
      width: 90%;
      margin-left: 0;

      @include translate-x(0);
    }
  }
}