.btn {
  position: relative;
  display: inline-block;
  padding: $half-space;
  text-align: center;

  @include border-radius(5px);

  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;

  &.rust {
    background: $rust;
    color: $white;
    border-bottom: 8px solid $dark-rust;
  }

  &.white {
    background: $white;
    color: $rust;
    border-bottom: 8px solid $grey;
  }

  &:hover {
    top: 4px;
    margin-bottom: 4px;

    border-bottom-width: 4px;
  }

  &:active {
    top: 8px;
    margin-bottom: 8px;

    border-bottom-width: 0px;
  }
}