@import 'vendor/gridle/gridle';

$full-space: 40px;
$half-space: 20px;

$settings: (
  context: 12,
  gutter-width: $half-space,
  html-states-classes: true
);

// basic Gridle configuration
@include gridle_setup($settings);

// register Gridle states
@include gridle_register_default_mobile_first_states();

// generate Gridle classes
@include gridle_generate_classes();

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* styles that apply all the way up until state `md` */
@media screen and (max-width: 992px) {
  section, footer {
    padding-left: $half-space !important;
    padding-right: $half-space !important;
  }
  .center-md {
    text-align: center !important;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}