@mixin border-radius($top, $right: $top, $bottom: $top, $left: $top) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius:    $top $right $bottom $left;
  -ms-border-radius:     $top $right $bottom $left;
  border-radius:         $top $right $bottom $left;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition:    $transition-property $transition-time $method;
  -ms-transition:     $transition-property $transition-time $method;
  -o-transition:      $transition-property $transition-time $method;
  transition:         $transition-property $transition-time $method;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size:    $size;
  -o-background-size:      $size;
  background-size:         $size;
}

@mixin translate-x($distance){
  -webkit-transform: translateX($distance);
  -moz-transform:    translateX($distance);
  -o-transform:      translateX($distance);
  -ms-transform:     translateX($distance);
  transform:         translateX($distance);
}

@mixin translate-y($distance) {
  -webkit-transform: translateY($distance);
  -moz-transform:    translateY($distance);
  -o-transform:      translateY($distance);
  -ms-transform:     translateY($distance);
  transform:         translateY($distance);
}

@mixin scale($proportion) {
  -webkit-transform: scale($proportion);
  -moz-transform:    scale($proportion);
  -o-transform:      scale($proportion);
  -ms-transform:     scale($proportion);
  transform:         scale($proportion);
}