<footer>

  <div class="container">
    <h3 class="grid-12 connect">Connect</h3>
  </div>

  <div class="container">
    <div class="grid-12">
      <a href="#" class="icon">E</a>
    </div>
  </div>

</footer>