<section class="hero" id="hero">

  <div class="header clearfix">
    <div class="container">
      <div class="logo-container">
        <img src="images/logo.png" alt="Grumble logo" class="logo" />
        <h4 class="name">Grumble</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="grid-12 tagline">Catchy copy text or something.</h1>
  </div>

  <div class="container">
    {{!-- <img src="images/hero_iphone_front.png" class="front-iphone" />
    <img src="images/hero_iphone_back.png" class="back-iphone" /> --}}
    <img src="images/hero_iphones.png" class="hero-iphones" />
  </div>

</section>