<section class="team" id="team">

  <div class="container">
    <h1 class="grid-12 center-md headline">The Team</h1>
  </div>

  <div class="container">
    <div class="grid-md-5 center-md">
      <div class="team-members grid-12 parent"></div>
    </div>
    <div class="grid-md-6 push-md-1">
      <h2 class="member-name"></h2>
      <h4 class="member-title"></h4>
      <p class="member-bio"></p>
    </div>
  </div>

</section>