<section class="understand" id="understand">

  <div class="container">
    <h1 class="grid-12 text-right center-md headline">Understand your customers better.</h1>
  </div>

  <div class="container section-body">
    <div class="grid-md-4 center-md">
      <img src="images/understand_imac.png" class="understand-imac" />
    </div>
    <p class="grid-md-7 push-md-1 section-body-text">
      <strong>Knowledge is power</strong>, and as a business owner with access to Grumble you will have all the knowledge you need to build meaningful relationships with your customers. No more wondering what people are saying about your business. Simply <strong>sign-up, start engaging and improve</strong> your business by understanding what your customers are looking for. It’s as easy as 1, 2, 3.
    </p>
  </div>

  {{> manager_dashboard_button}}

</section>